@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    background-color: #ff0000!important;
    background-image: linear-gradient(to top, #e00d32, #c10d2e, #a30e2a, #860e24, #690e1e);
    background-attachment: fixed;
    background-size: cover;
}
.navbar{
    background-color: rgba(255, 255, 255, 0.7)!important;
    border-radius: 0px 0px  10px 10px;
}

li{
    color: white;
    padding:0px 10px 0px 10px;
    font-family: 'Secular One', sans-serif;
    border-bottom: #a30e2a solid 2px;
    font-size: 19px;
    margin-right:10px;
}