@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    background-color: #ff0000!important;
    background-image: linear-gradient(to top, #e00d32, #c10d2e, #a30e2a, #860e24, #690e1e);
    background-attachment: fixed;
    background-size: cover;
}
.navbar{
    background-color:#333333!important;
}

li{
    color: white;
    padding:0px 10px 0px 10px;
    font-family: 'Secular One', sans-serif;
    border-bottom: #a30e2a solid 2px;
    font-size: 19px;
    margin-right:10px;
}
textarea {
  resize: none;
}
label{
  color: black!important;
}
/*********************************************************************
/*********************************************************************
/*********************************************************************/
.timeline .line .point {
    list-style-type: none;
    position: relative;
    width: 6px;
    background: rgba(0, 0, 0, 0.988);
  }
   
  .timeline .line .point::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
  }
  .timeline .line .point .card {
    position: relative;
    bottom: 0;
    width: 300px;
  }
   
  .timeline .line .point .card::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  .timeline .line .point .card {
    left: 45px;
  }
   
  .timeline .line .point .card::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #ffffff transparent transparent;
  }


